.Questionnaire {
  text-align: center;
}

.Questionnaire .surveyjs {
  text-align: left;
}

.Questionnaire-logo {
  animation: Questionnaire-logo-spin infinite 20s linear;
  height: 80px;
}

.Questionnaire-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}


@keyframes Questionnaire-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}